 <div class="state-data" id="state-data-{{state}}">
    <table>
      <h2>{{state}}</h2>
      <tr>
        <th>Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>{{report_date}}</td>
      </tr>
      <tr>
        <td>{{positive}}</td>
      </tr>
      <tr>
        <td>{{negative}}</td>
      </tr>
      <tr>
        <td>{{death}}</td>
      </tr>
    </table>
  </div>
